doctype html
html(lang="en")
  head
    title Thingconnect
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/css/app.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css')

    //- inject:css
    //- endinject
  body
  
    div(ui-view="header")
          
    div(ui-view="content" class="the-content")

    footer
      //- inject:js
      //- endinject
      script(src='/js/app.js')
