div.sidebar
  ul
    li
      h2
        a(href="" ui-sref="dashboard")
          my sim cards
        a(href="" ui-sref="new-sim" class="add")
          i(class="fa fa-plus-square") &nbsp; add
      ul
        li(ng-repeat="sim in UserState.sims")
          a(href="#" ng-click="UserState.editSim(sim)")
           i(class="fa fa-plug")
            | &nbsp; {{sim.simId}}

    li.separate
      a(href="#" ui-sref="home" ng-click="UserState.logout()")
        i(class="fa fa-sign-out")
         | &nbsp; logout
