include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div
      md-content
        md-list(flex)
      md-list-item.md-2-line(ng-repeat="data in socketData")
        div.md-list-item-text
          h2
            | Sim: {{data.simId}}
          h4
            | Payload: {{data.payload}}
          h3
            | {{data.timestamp | date:'medium'}}
        md-divider(ng-if="!$last")