include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div
      md-content
        md-list(flex)
      md-list-item.md-2-line(ng-repeat="data in socketData")
        div.md-list-item-text
          h4
            {{data.simId}}
          h3
            {{data.payload}}
        md-divider(ng-if="!$last")