include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div.device-form
      div.device-inner
        h1 Editing
        h2 {{sim.name}}
        form(ng-submit="updateSim($event)")
          label Name
          input(type="text" placeholder="My Sim" ng-model="sim.name")
          label SIM ID
          input(type="text" disabled ng-model="sim.simId")
          label Callback Payload URL
          input(type="text" placeholder="Read Payload URL" ng-model="sim.callbackUrl")
          select(ng-model="sim.callbackType")
            option(value="get") GET
            option(value="post") POST
            option(value="ifttt") IFTTT Maker Request

          input(type="button" ng-click="testCallbackURL()" class="btn btn-purple" value="Test Callback URL")
          input(type="button" ng-click="testSendSim()" class="btn btn-purple" value="Send To Sim")
          
          input(type="submit" class="btn btn-purple" value="Save")
          a(class="btn block btn-small btn-remove" ng-click="removeSim($event)") Remove Sim
