include ../partials/sidebar.jade

div.dashboard-wrapper
  include ../partials/dashboard-header.jade
  div.dashboard-content
    div.device-form
      div.device-inner
        h1 Editing
        h2 {{sim.name}}
        form(ng-submit="updateSim($event)")
          label Name
          input(type="text" placeholder="My Sim" ng-model="sim.name")
          label SIM ID
          input(type="text" disabled ng-model="sim.simId")
          label Callback Payload URL
          input(type="text" placeholder="Read Payload URL" ng-model="sim.callbackUrl")
          
          input(type="submit" class="btn btn-purple" value="Save")
          a(class="btn block btn-small btn-remove" ng-click="removeSim()") Remove Sim
